.myLongRead
{
    margin: auto;
    width: 600px;
}
h1.myHeading
{
    margin-top: 6rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    color: #262626;
}

h2.myHeading
{
    margin-top: 5rem;
    margin-bottom: .5rem;
    font-size: 1.6rem;
    color: #00843D;
}

    h2.myHeading-introduction
    {
        font-size: 1.6rem;
        color: #00843D;
    }
    h2.myHeading-summary
    {
        margin-top: 5rem;
        font-size: 1.6rem;
        color: #00843D;
    }

h3.myHeading
{
    margin-top: 3rem;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

h4.myHeading
{
    margin-top: 3rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.myTextBlock
{
    margin-top: 0px;
    margin-bottom: 1rem;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

 
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.0rem;
    text-align: justify; 
}

 p.myParagraph
 {
    margin-top: 0rem;
    margin-bottom: 0rem;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    
    color: red;
 }
    
.myHorizontalLine
{
    margin-top: 3rem;
    background-color: #FFFFFF;
    border-top: 1px dashed;
    padding: 3px 3px 3px 3px;

}

.myImg
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    border-radius: 15px !important;
    border: 1px solid #E2E2E2 !important;
    cursor: pointer;
    transition: 0.3s;
}

.myImgContainer
{
    margin-top: 0rem;
    margin-bottom: 1rem;

    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    width: 100%;
}

.myVideoContainer
{
    margin-top: 0rem;
    margin-bottom: 1rem;
    
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.myResponsiveIframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

.myImgDescription
{
    text-align: center; 
    font-size: 0.9em; 
    color:#A2A2A2;
}

.myImgDescriptionFeature
{
    text-align: left; 
    font-size: 0.9em; 
    color:#A2A2A2;
}

.myImgFullSizeLink
{
    text-decoration:none;
    font-size: 0.9rem;
}

.myAlert
{
    margin-top: 0rem;
    margin-bottom: 0rem;

    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-left: 3%;

    border: 1px solid #fefefe;
}

.myCode
{
    margin-top: 0rem;
    margin-bottom: 1rem;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    border-radius: 15px; */
} 

.myCite
{
    font-size: 0.9em; 
    color:#A2A2A2;
    list-style: outside none none !important;
    
}

.myTextBlock b
{
    font-size: 0.9rem;
    color: #00843D;
}

.myTable li
{
    list-style: outside none none !important;
}

.myTableHeader
{
    background-color: #00843D;
}

.myList
{
    list-style: outside none none !important;  
}

.myLink
{
    text-decoration: none;
}